.maincontainer{
    float: left;
    width:100%;
    position: relative;
}
img{
    max-width: 100%;
}
.maincontainer .header{
    float: left;
    width:100%;
    padding: 0;
}
.collision_law{
    padding: 0;
    text-align: center;
}
.collision_law span{
    color: coral;
}
.sentence{
    padding: 22px 0;
    text-align: center;
}
.consultation{
    padding: 10px;
    text-align: center;  
}
.consultation a{
    background: coral;
    display: inline-flex;
    width: 70%;
    border-radius: 5px;
    box-shadow: 2px 3px 5px brown;
}
.consultation a .phone{
    float: left;
    width: 20%;
}
.consultation a .number{
    float: left;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 9px;
    font-size: 12px;
    text-transform: uppercase;
}
.consultation i{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 13px;
}
.consultation .wait{
    float: left;
    padding: 5px;
    width: 100%
}
/*    banner  */
.maincontainer .banner{
    float: left;
    width:100%;
    padding: 0;
    height:550px;
}
.maincontainer .banner img{
    height:550px;
    width:100%;
}
.bannerform{
    background: coral;
}

.bannerform .consultation2{
    padding: 15px 5px;
    text-align: center; 
    display: inline-flex;
    width: 100%;
}
.bannerform .consultation2 a{
    background: coral;
    display: inline-flex;
    width: 70%;
    border-radius: 5px;
}
.bannerform .consultation2 .phone{
    float: left;
    font-size: 32px;
color: #fff;
}
.bannerform .consultation2 .number{
    float: left;
font-size: 18px;
text-align: left;
color: #fff;
padding-left: 15px;
text-transform: uppercase;
}
.bannercontent{
    margin-right: 50px;
    text-align: left;
    color: #fff;
}
.bannercontent .cash{
    color: coral;
    text-transform: uppercase;
}
.bannercontent ul{
    margin: 10px 0 30px 0;
    list-style: inside;
    padding: 0;
}
.bannercontent ul li{

}
.banner-data{
    margin: 0 105px;
    position: absolute;
    top: -540px;
    padding-top: 25px;
}
.comment{

}
.bannercontent .comment img{
    width: 50px;

    height: 50px;

    border-radius: 100%;
}
.comment img,p,i{
    display: inline-flex;
    padding: 3px;
}
.comment i{
    color: coral;
}
/*   banner form   */
.bannerform .privacycontent{
    color: #fff;
}
.bannerform .sendnow{
    border: none;
    color: #fff;
}
.bannerform .flname{
    margin-bottom: 10px;
}
.bannerform .flname input{
    padding: 6px;
    width: 189px;
    margin-bottom: 10px;
}
.bannerform .item{
    margin-bottom: 10px;
    width: 382px;
    display: inline-grid;
}
.bannerform .item input{
    padding: 6px;
    margin-bottom: 10px;
}
.bannerform div .item button{
    background: rgba(0,0,0,0.1);
border: none;
padding: 5px 0;
border-radius: 4px;
}
.bannerform div .item button input{
    margin-bottom: 0;
    background: rgba(0,0,0,0.1);
}
.bannerform div .item button img{
    height:30px;
    width:30px;
    margin-left: 20px;
}
/*   logos  */
.logos{
    float:left;
    width:100%;
}
.logos img{
    width: 75px;
    height: 75px;
    padding: 15px;
}
.logos p{

}
/*  steps */
.steps{
    float: left;
    width:100%;
    background: #006dbc;
}
.steps .para{
    color: #fff;
}
.steps .para p{
    margin-bottom: 40px;
}
.steps .box{
    display: inline-flex;
    color: #fff;
    margin-bottom: 25px;
}
.steps .box .boxinside{
    margin-bottom: 30px;
}
.steps .box .boxinside .rotate{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: coral;
    padding: 15px;
    transform: rotate(314deg);
}
.steps .box .boxinside .rotate div{
    transform: rotate(45deg);
}
.steps .getintouch a{
    padding: 15px 25px; transform: rotate(0deg);
    background: coral;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 5px brown;
    ont-weight: bold;
}
.steps .getintouch{
    padding: 15px 0;
    margin-bottom: 40px;
}
/*   income   */
.income{
    float: left;
    width:100%;
}
.income .para h2{
    text-transform: capitalize;   
}
.income .para p{
    color: gray;
}
.income .box{
    display: inline-flex;
}
.income .box div{
    margin: 40px;
}
.income .getintouch a{
    padding: 15px 25px;
    background: coral;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 5px brown;
    ont-weight: bold;
}
.income .getintouch{
    padding: 15px 0;
    margin-bottom: 40px;
}
/*    insurance   */
.insurance{
    float: left;
    width:100%;
}
.insurance .para{

}
.insurance .para h2{
    color: black;

    text-transform: capitalize;
}
.insurance .para p{
    color: darkgray;

    font-size: 15px;
}
.insurance .box{
    display: inline-flex;
    margin-bottom: 30px;  
}
.insurance .box h5{
    color: black;
    font-weight: 510;
    font-family: verdana;
}
.insurance .box p{
    color: darkslategray;
    font-family: sans;
}
.insurance .box .boxoutside{
    padding: 10px 30px;
}
.insurance .box .boxinside{
    display: inline-flex;
    text-align: left;
    background: gainsboro;
    padding: 10px 30px;
    height:170px;
}
.insurance .box .boxinside img{
    padding-top: 15px;
}
.insurance .box .boxinside .boxcontent{
    margin-left: 13px;
}
.insurance .getintouch a{
    padding: 15px 25px;
    background: coral;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 5px brown;
    ont-weight: bold;
}
.insurance .getintouch{
    padding: 15px 0;
    margin-bottom: 40px;
    margin-top: 40px;
}
/*   car-accident  */
.car-accident{
    float: left;
    width:100%;
    background: #006dbc;
}
.car-accident .car-accident-content{
    padding-right: 200px;
    padding-left: 200px;
    text-align: left;
    color: #fff;
    line-height: 26px;
    padding-bottom: 30px;
}
.car-accident .car-accident-content h3{
    margin-bottom: 25px;
    margin-top: 35px;
}
.car-accident .car-accident-content p{
    font-size: 13px;
    text-align: justify;
}
/*     success stories     */
.success-stories{
    float: left;
    width: 100%;
    background: url(../images/hd11.jpg);
    background-size: cover;
    height:60vh;
}
.success-stories .success-stories-content{
    padding-right: 200px;
    padding-left: 200px;
    display: inline-grid;
}
.success-stories .success-stories-content h2{
    margin-bottom: 25px;
}
.success-stories .success-stories-content h5{

}
.success-stories .success-stories-content h5 span{
    color: coral;
}
.success-stories .success-stories-content p{
    color: ghostwhite;
    line-height: 26px;
}
.success-stories .success-stories-content img{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
}
.success-stories .success-stories-content .getintouch a{
    padding: 15px 25px;
    background: coral;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 5px brown;
    ont-weight: bold;
    margin-right: 20px;
}
.success-stories .success-stories-content .getintouch{
    padding: 15px 0;
    margin-bottom: 40px;
    margin-top: 40px;
}
/*          nocost     */
.nocost{
    float: left;
    width:100%;
    background: url(../images/spa2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
    position: relative;
    padding: 100px 0;
}
.nocost .overlay{
    height: 100%;
    background:#00acee;
    //filter:alpha(opacity=50);
    opacity:0.5;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.nocost h2{
    margin-bottom: 30px;
    color: #fff;
}
.nocost .getintouch a{
    padding: 15px 25px;
    background: coral;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 5px brown;
    font-weight: bold;
}
.nocost .getintouch{
    padding: 15px 0;
    margin-bottom: 40px;
}
/*       collision-law            */
.collision-law{
    float: left;
    width:100%;
}
.collision-law .collision-law-content{
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.collision-law span{
    color: coral;
}

.collision-law .collision-law-content .collision-law-rules{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.collision-law .collision-law-content h5{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.collision-law .collision-law-content .collision-law-rules h6{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
.collision-law .collision-law-content .copyright{
    margin-bottom: 40px;
}
.collision-law p{
    color: gray;
    line-height: 26px;
    text-align: justify;
}
.btn1{
    float:left;
    width:100%;
}
.btn1 .sendbtn{
    display: inline-flex;
background: coral;
width: 20%;
}
.btn1 .item{
    
}
.btn1 .item button{
    border: none;

background: coral;

color: #fff;

font-size: 20px;
}
.btn1 .item img{
    width: 30px;
height: 30px;
margin-left: 20px;
}