body{
    margin: 0;
    padding: 0;
}
.fact-area{
    float: left;
    width:100%;
    box-shadow: 0px 20px 50px rgba(153,153,153,0.2);
    margin:0;
}
section{
    width:100%;
    float: left;
    margin-top:15%;
}
section .container .row .single{
    text-align: center;
    margin-top: 20px;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}
section .container .row .single img{
    width:70px;
    height:70px;
}
section .container .row .single h2{
    font-weight: 500;
}
section .container .row .single p{
    font-size: 18px;
    font-weight: 500;
}
