@media screen and (max-width: 480px) {
    .maincontainer .ourservices .ourservices-heading
    {
     position: relative;
     top:0;
     left:0;
     float: left;
     padding: 20px 0;
    }
}

@media screen and (max-width: 550px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (min-width: 768px) and (min-width: 990px) {
    
}

@media screen and (max-width: 990px) {
    
}

@media screen and (min-width: 991px) and (min-width: 1024px) {
    
}

@media screen and (max-width: 1024px) {
    
}